{% extends 'basup.html.twig' %}

{% block div %}

    <table  width="60%"  align="center" class="table table-striped">

        <tr>
            <thead align="center">
            <th> Numéro </th>
            <th> Matricule </th>
            <th> Nom </th>
            <th> Prenom </th>
            <th> date Naissance </th>
            <th> E_mail</th>
            <th> Adresse</th>
            <th> Type PNC</th>
            <th> password</th>
            <th> Action&nbsp;&nbsp;</th>
            </thead>
        </tr>
        <tr>
            {% for c in users %}
            {% if c.hasRole('ROLE_USER') %}
            <td> {{ c.id }}</td>
            <td> {{ c.username|upper }}</td>
            <td> {{ c.nom }}</td>
            <td> {{ c.prenom}}</td>
            <td> {{ c.dateNaiss|date('d/m/y')}}</td>
            <td> {{ c.email}}</td>
            <td> {{ c.adresse}}</td>
            <td> {{c.type }}</td>
            <td> {{ c.password}}</td>
            <td >

                <a href="{{ path('editt_user', { 'id': c.id }) }}"> <i class="glyphicon glyphicon-edit"  title="Modifier"></i></a>
                <a href="{{ path('suppp_user',{'id':c.id}) }}}}"><i class="glyphicon glyphicon-remove" title="Supprimer"></i></a>

            </td>

        </tr>
         {% endif %}
        {% endfor %}
    </table>
{% endblock div %}
