{% extends 'base.html.twig' %}

{% block body %}
    <h1>Companyevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ companyEvent.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ companyEvent.code }}</td>
            </tr>
            <tr>
                <th>Numvol</th>
                <td>{{ companyEvent.NumVol }}</td>
            </tr>
            <tr>
                <th>Companie</th>
                <td>{{ companyEvent.companie }}</td>
            </tr>
            <tr>
                <th>Typeavion</th>
                <td>{{ companyEvent.typeAvion }}</td>
            </tr>
            <tr>
                <th>Escaledep</th>
                <td>{{ companyEvent.escaleDep }}</td>
            </tr>
            <tr>
                <th>Escalearrive</th>
                <td>{{ companyEvent.escaleArrive }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('companyevents_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('companyevents_edit', { 'id': companyEvent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
